/*Header styles*/
#header {
  background-image: linear-gradient(45deg, #fff 65%, #c8cfd7 30%, #37b58c 5%);
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-areas: "logo nav";
  position: sticky;
  top: 0;
  padding: 5px;
  border-radius: 0px;
  z-index: 1;
}
#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: logo;
}
#header-img {
  width: 250px;
}
#nav-bar {
  grid-area: nav;
}
#nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.nav-link {
  font-size: 30px;
}
h1 {
  font-size: 60px;
  text-shadow: 2px 2px gray;
  color: #37b58c;
}

/*Footer styles*/
#footer {
  width: 99%;
  margin: 0px;
  padding: 0;
}
#footer-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.25fr;
  grid-template-areas:
    "logo contact sitemap"
    "social social social"
    "copyright copyright copyright";
  background-color: #37b58c;
  margin: 0px;
}
#footer-logo {
  grid-area: logo;
  width: 100px;
}
#copyright {
  font-size: 15px;
  grid-area: copyright;
  opacity: 50%;
  color: #000;
  text-align: center;
}
#contact-info {
  grid-area: contact;
}
#site-map {
  grid-area: sitemap;
}
#social-link {
  grid-area: social;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer-social {
}
.footer-sub {
  padding: 20px;
  background-color: #54504b;
  margin: 10px;
}
.social-thumbnail {
  width: 50px;
}

/*Sample styles*/
#sample {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 4fr;
  grid-template-areas:
    "title"
    "video";
}
#video {
  grid-area: video;
  justify-self: center;
  align-self: center;
  padding: 5px;
  margin: 10px;
  background-color: #918b95;
  border-radius: 5px;
}

/*Products styles*/
#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "title title title"
    "books videos audio";
}
#books {
  grid-area: books;
}
#videos {
  grid-area: videos;
}
#audio {
  grid-area: audio;
}
.sub-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "img info"
    "img btn";
  background-color: #918b95;
  border-radius: 0px;
  margin: 10px;
}
.product-img {
  justify-self: center;
  align-self: center;
  width: 55%;
  grid-area: img;
}

/*Form styles*/
#form {
  background-color: #918b95;
  border-radius: 0px;
  margin: 10px;
  padding: 10px;
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 0.25fr;
  grid-template-areas:
    "fn ln email"
    "message message message"
    "submit submit submit";
  grid-gap: 10px;
}
#f-first-name {
  grid-area: fn;
}
#f-last-name {
  grid-area: ln;
}
#f-email {
  grid-area: email;
}
#f-message {
  grid-area: message;
}
#form-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  grid-template-areas:
    "title title"
    "form-info form";
  grid-gap: 10px;
}
#submit {
  grid-area: submit;
}
.form-info {
  background-color: #918b95;
  border-radius: 0px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form-text {
  color: #fff;
  font-size: 30px;
  padding: 10px;
}
.form-input {
  color: #37b58c;
  font-size: 20px;
}
.f-section {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form-required-message {
  color: #ff0000;
  background-color: #fff;
  border-radius: 0px;
  padding: 2px;
  margin: 10px;
  text-align: center;
}
textarea{
    width:auto;
   
    resize: none;
    margin: 0px;
}

/*General styles*/
.box-look {
  border-radius: 0px;
  border-right: 15px solid #c8cfd7;
  border-left: 15px solid #918b95;
  border-bottom: 20px solid #a0989a;
  border-top: 7px solid #54504b;
}

.section {
  background-color: #37b58c;
  margin: 20px;
}

.btn {

  grid-area: btn;
  margin: 5px 20px 10px 5px;
  border-radius: 5px;
  color: #37b58c;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 8px #37b58c;
  text-align: center;
  

}
.btn:hover{
    background-color: #c8cfd7;
}
.btn:active{
    background-color: #c8cfd7;
    box-shadow: 0px 4px #00341d;
    transform: translateY(3px);
}

.title {
  grid-area: title;
  background-color: #228d6c;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0px;
}
body {
  background-color: #c8cfd7;
}

h2 {
  font-size: 40px;
  color: #fff;
}
h3 {
  font-size: 30px;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
  text-shadow: 2.5px -2px 0px #918b95;
}
p {
  font-size: 20px;
  color: white;
  grid-area: info;
}
/* implemented example from w3schools*/
::placeholder {
  color: #37b58c;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #37b58c;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #37b58c;
}
#error-fn {
  visibility: hidden;
}
#error-ln {
  visibility: hidden;
}
#error-email {
  visibility: hidden;
}
#error-message {
  visibility: hidden;
}
