#header{
background-color: white;
}
#logo{
 display: flex;
 flex-direction: row;
 align-items: baseline;
}
#header-img{
    
}
h1{
    font-size:60px;
    text-shadow: 2px 2px gray;
    color: #0BDAA6;
}