#header{
background-image: linear-gradient(45deg, #fff 65% , #C8CFD7 30%, #37B58C 5%);
display:grid;
grid-template-columns:4fr 2fr;
grid-template-areas: "logo nav" ;
position: sticky;
top: 0;
padding: 5px;
border-radius: 5px;

}
#footer{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 0.1fr;
 grid-template-areas: "logo contact sitemap"
 "social social social"
 "free copyright free";
}
#logo{
 display: flex;
 flex-direction: row;
 align-items: baseline;
 grid-area: logo;
}
#footer-logo{
grid-area:logo;
width: 100px:
}
#header-img{  
}
#nav-bar{
grid-area: nav;
}
#nav-list{
    display: flex;
flex-direction: row;
 list-style: none;
justify-content: space-evenly;
align-items: center;
height: 100%;
}
#video{
 grid-area: video;
 justify-self: center;
 align-self: center;
 padding: 5px;
 margin: 10px;
 background-color: #918B95;
 border-radius: 10px;
}
#form{
  background-color: #918B95;  
  border-radius:10px;
margin: 10px;
padding: 10px;
grid-area: form;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 0.5fr 2fr .25fr;
grid-template-areas: "fn ln email"
"message message message"
"submit submit submit";
grid-gap:5px;
}
#f-first-name{
 grid-area: fn;
}
#f-last-name{
grid-area:ln;
}
#f-email{
grid-area:email;
}
#f-message{
grid-area: message;
}
#form-section{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: .25fr 1fr;
grid-template-areas: "title title"
"form-info form";
grid-gap: 10px;
}
#submit{
grid-area: submit;

}
#sample{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 0.25fr 4fr;
grid-template-areas:"title"
"video";
}
#products{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 2fr;
grid-template-areas: 
"title title title"
"books videos audio";

}
#books{
 grid-area: books;
}
#videos{
grid-area: videos;

}
#audio{
grid-area: audio;
}
#copyright{
font-size:15px;
grid-area: copyright;
opacity: 50%;
color: #000;
}
#contact-info{
    grid-area: contact;
}
.section{
background-image: linear-gradient(45deg, #37B58C, #37B58C);
border-radius: 5px;
margin: 20px;
}
.form-info{
    background-color: #918B95;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#site-map{
    grid-area: sitemap;
}
#social-link{
    grid-area: social-link;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub-section{
    display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 3fr 1fr;
   grid-template-areas:
    "img info"
    "img btn"; 
background-color: #918B95;
border-radius: 10px;
margin: 10px;
}
.nav-link{
    font-size:30px;
}
.btn{
 grid-area: btn;
 margin: 5px 20px 10px 5px;
 border-radius: 5px;
 color:#37B58C;
 background-color: #FFF;
 font-size: 20px;
}
.form-text{
 color: #FFF;
}
.form-input{
 color: #37B58C;
}
.form-required-message{
    
}
.f-section{
    margin:0px; 
    padding:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-img{
    justify-self: center;
    align-self: center;
width: 55%;
grid-area: img;
}
.title{
    grid-area: title;
    background-color: #918B95;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}
.footer-social{

}
.social-thumbnail{
    width: 50px;
}
body{
background-color: #918B95;
}
h1{
    font-size:60px;
    text-shadow: 2px 2px gray;
    color: #37B58C;
}
h2{
   font-size: 40px;
   color: #fff;
}
h3{
    font-size: 30px;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
    text-shadow: 2.5px -2px 0px #918B95;
 
}
p{
    font-size: 20px;
    color: white;
grid-area: info;

}
/* implemented example from w3schools*/
::placeholder {
    color: #37B58C;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #37B58C;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #37B58C;
  }
